<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinIQ-Signup</title>
</head>
<body>
    <h1>Signup to FinIQ</h1>
    <form action="/signup" method="post">
        <input type="text" name="name" placeholder="Full Name" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="text" name="password" placeholder="Password" required>
        <button type="submit">signup</button>
    </form>
    <p>Already have account? <a href="/login">login</a></p>
</body>
</html>